#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shopHeader {
  background-image: url("https://wallpapers-clan.com/wp-content/uploads/2025/03/fantasy-town-at-dusk-desktop-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}
.shopKeeperImg {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  margin: 20px;
  border: 5px double rgb(218, 170, 69);
}
.talkBubble {
  background-color: white;
  margin: 20px;
  height: 125px;
  width: 450px;
  border-radius: 70px;
  color: black;
  border: 5px double rgb(218, 170, 69);
  display:flex;
  align-items: center;
  justify-content: center;
}
.menuBar{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
   background-color: #2e1c42;
  border-top: 5px double rgb(218, 170, 69);
  border-bottom: 5px double rgb(218, 170, 69);
  width: 100vw;
}
.goldCounterBox{
 position:absolute;
 right:2rem;
 font-weight: bold;

}
.goldDisplay{
 display:flex;
 justify-content: space-evenly;
 align-items: center;
}
.gold{
  margin-left: 1rem;
}
.shopMenu {
 
  display: flex;
}
.menuButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  width: 75px;
  background-color: #2e1c42;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
.menuButton:hover {
  border: 1px solid #5d3066;
}
.shopContainer {
  background-color: rgb(117, 60, 117);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.shopLabel {
  background-color: white;
  color: black;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 5px, double, rgb(218, 170, 69);
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.moneyIcon {
  width: 35px;
  height: 35px;
}
.goldIcon {
  width: 15px;
  height: 15px;
}
.shopInventory {
  background-color: white;
  width: 450px;
  min-height: 400px;
  margin-bottom: 20px;
  border: 5px double rgb(218, 170, 69);
  display: flex;
  flex-direction: column;
}
.yourInventory {
  background-color: white;
  width: 450px;
  min-height: 400px;
  margin-bottom: 20px;
  border: 5px double rgb(218, 170, 69);
  display: flex;
  flex-direction: column;
}
.shopLine {
  background-color: white;
  color: black;
  width: 400px;
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.buyButton {
  background-color: #5d3066;
  border-radius: 30px;
  width: 60px;
  height: 40px;
}
.shopIcons {
  height: 30px;
  width: 30px;
}
.itemName {
  font-size: large;
}
.itemPrice {
  font-weight: lighter;
}

.chatPage {
  background-color: rgb(117, 60, 117);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}
